h1{

    background-color: gold;
    color: blueviolet;
}
.ue{
    background-color: gray;
    height: 70px;
}
body{
    
    height: 70px;   
    font-size: 20px;
    font-family: serif;
    
    
}
